<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  
  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
  </head>
  <body>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>qwer</td>
      <td>sdfghm</td>
      <td>123</td>
      <td><button class="editbtn">Edit</button></td>
      <td><button class="editbtn">Delete</button></td>
    </tr>
    <tr>
      <td>fghjk</td>
      <td>cvbnm</td>
      <td>1234</td>
      <td><button class="editbtn">Edit</button></td>
      <td><button class="editbtn">Delete</button></td>
    </tr>
    <tr>
      <td>uio</td>
      <td>asdfghj</td>
      <td>8888</td>
      <td><button class="editbtn">Edit</button></td>
      <td><button class="editbtn">Delete</button></td>
    </tr>
  </table>